body{
  font-family: 'Courier New';
  font-weight: 400;
  background: #000; 
  color: #fff;
  font-size: 1em;
}
.stdout-text{
  color: #0f0;
}

table td{
  padding-right:10px;
  text-align: right; 
} 
input{
  padding-left: 4px;
  font-size: 1em;
  font-family: 'Courier New';
  color: white;
  background: black;
  border: none;
}